/* GitHub page style */

#emojiImage {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 5px
}

/* Table */

#tableBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

table {
    border: 1px solid #111111;
    empty-cells: show;
}

td {
    border: 1px solid #111111;
    text-align: left;
    padding: 4px;
}

tr {
    background-color: #25293d;
}